footer{
    
    ul li  {
        list-style: none;
    }
}
.footer__icon {
    width: 21px;
}

.footer__cards {
    width: 45px;
}
.copyR {
    display: flex;
    background-color: #292929;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

