@mixin buttonAccount() {
    color: white;
    background-color: $colorSecundario;
    font-size: larger;
    font-weight: bold;
    border: $border;
    border-radius: 6px;
    width: 250px;
    height: 50px;
    &:hover {
        background-color: white;
        color: black;

    }
}
@mixin buttonPurchase () {
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    border: $border;
    border-radius: 6px;
    outline: none;
    &:hover {
        background-color: white;
        color:black;
    }
}
   

@mixin buttonContacto () {
    color: white;
    background-color: $colorSecundario;
    font-size: larger;
    font-weight: bold;
    font-family: 'ubuntu';
    height: 35px;
    width: 300px;
    border: $border;
    border-radius: 6px;
    &:hover{
        background-color: white;
        color: black;

    }
}
@mixin buttomSearch () {

    &:hover{
        color: black;
        background-color: white;
    }
}